@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}